* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

    height: 80px;
    padding-top: 23px;
}

nav {
    background-color: #2B3844;
}

body {
    background-color: #202C36;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.moon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar h1 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
}

.moon h1 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.main-header button {
    margin-top: 80px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 136px;
    height: 40px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    background: rgb(43, 56, 68);
}

.main-header button a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.scn {
    margin-top: 80px;
    position: relative;
}

.section-header {
    display: flex;
    gap: 144px;
}

.right-side {
    display: flex;
    gap: 108px;
    align-items: center;
}

.right-side h2 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 28px;

}

.left-side {}

.mini-left h1 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.mini-right h1 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 260px;
    top: 400px;
}

.buttons h1 {
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.buttons button {
    width: 96px;
    height: 28px;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
    background: rgb(43, 56, 68);
    border: none;
    gap: 10px;
}